*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
  background:#413940;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.botao {
  background-color: #1d19ee;
  color: rgb(240, 6, 6);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-top: 20px;
  cursor: pointer;

}
.botao:hover {
  background-color: #f1cee7;
 
} 
.total {
  margin-top: 25px;
  color: #000000;
  font-size: 1.1rem;
}

#total {
  display: block;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #000000;
}
.principal {
  background-color: rgb(248, 85, 85);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  
}
.numero {
  width: 80%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #990c42;
  text-align: center;
  outline: none;
}